{% extends 'base.html' %}
{% block content %}
    <style>
        body {
            background-color: #f8f9fa;
        }
        .contact-container {
            background-color: #ffffff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .contact-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .contact-info i {
            margin-right: 10px;
        }
        .contact-info p {
            margin: 5px 0;
        }
        .btn-primary {
            background-color: #82d2ff !important;
            color:black !important; 
            border: none;
            padding: 5px 40px !important;
        }
        .btn-primary:hover {
            background-color:  #82d2ff;
            color:black !important;
        }
        .contact-container {
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form input.form-control, form textarea.form-control {
    background-color: #ebebeb;
}
.info-container {
    background-color: #ebebeb;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 240px; 
    margin-top: 60px !important; /* Ajusta este valor según tus necesidades */


}
.info-container i {
    color: black;
}
    </style>
    <main>
        <div class="container mt-5">
            <h1 class="text-center mb-3">Heading for features page</h1>
            <p class="text-center mb-4" style="max-width: 600px; margin: auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 contact-container">
                    <div class="row">
                        <div class="col-md-6">
                            <form method="post" action="/contacto/">
                                <h3 class="text-end mb-4 ms-auto">How can we help you?</h3>

                                {% csrf_token %}
                                {{ form.non_field_errors }}

                                <div class="mb-3">
                                    {{ form.nombre }}
                                    <div class="text-danger">
                                        {{ form.nombre.errors }}
                                    </div>
                                </div>

                                <div class="mb-3">
                                    {{ form.email }}
                                    <div class="text-danger">
                                        {{ form.email.errors }}
                                    </div>
                                </div>

                                <div class="mb-3">
                                    {{ form.mensaje }}
                                    <div class="text-danger">
                                        {{ form.mensaje.errors }}
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-auto contact-info info-container">
                            <p><i class="bi bi-geo-alt"></i> 429 Masonic Drive</p>
                            <p><i class="bi bi-envelope"></i> contact@myoffice.com</p>
                            <p><i class="bi bi-telephone"></i> 443-663-8698</p>
                            <p>
                                <a href="#" class="me-2"><i class="bi bi-linkedin"></i></a>
                                <a href="#" class="me-2"><i class="bi bi-twitter"></i></a>
                                <a href="#" class="me-2"><i class="bi bi-instagram"></i></a>
                                <a href="#"><i class="bi bi-facebook"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
