
    <style>
        .footer-08 {
            background: #ebebeb;
            color: #000000;
        }
        .footer-heading {
            color: #000000;
            margin-bottom: 0.5rem;
        }
        .footer-heading-white {
            color: #000000;
        }
        .footer-08 a {
            color: #000000;
            text-decoration: none;
        }
        .footer-08 a:hover {
            text-decoration: underline;
        }
        .footer-08 .address p {
            margin-bottom: 0.5rem;
            margin-top: 2rem; 

        }
        .footer-08 .address .postcode {
            margin-top: -10px;
        }
        .footer-08 .footer-copyright {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: -15px;
            
        }
        .footer-08 .footer-heading {
    margin-top: -2rem; 
}
        .footer-08 .footer-bottom {
            text-align: center;
            margin-top: 20px;
            border-top: 1px solid #000000;
            padding-top: 10px;
        }
        .footer-08 .social-icons {
            margin-top: 1rem;
        }
        .footer-08 .labels {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 1.5rem;

        }
        .footer-08 .labels label {
    margin-right: 1rem;
}
    </style>

<body>
<footer class="footer-08 py-5">
    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-md-0 mb-4">
                        <h2 class="footer-heading" style="margin-bottom: -0.5rem;">LOGO</h2>
                        <div class="address">
                            <p>20 XYZ Road, London</p>
                            <p class="postcode">AB1 2CD</p>
                        </div>
                       
                    </div>
                    <div class="col-md-8">
                      <div class="labels">
                          <label>Label</label>
                          <label>Label</label>
                          <label>Label</label>
                          <label>Label</label>
                          <label>Label</label>
                      </div>

                  </div>
                </div>
                <div class="row mt-md-4">
                  <div class="col-md-12">
                      <div class="footer-copyright d-flex justify-content-between align-items-center">
                          <ul class="list-unstyled d-flex social-icons">
                              <li class="me-3"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="bi bi-twitter"></i></a></li>
                              <li class="me-3"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="bi bi-facebook"></i></a></li>
                              <li class="me-3"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="bi bi-instagram"></i></a></li>
                          </ul>
                          <p class="text-dark mb-0">
                              Product Name &copy; 2024
                          </p>
                      </div>
                  </div>
              </div>
                <div class="footer-bottom">
                    <p>Privacy | Terms | Legal</p>
                </div>
            </div>
        </div>
    </div>
</footer>