{% extends 'base.html' %}

{% block content %}
<style>
    .my-custom {
        margin-top: 210px;
        margin-bottom: 210px;
        
    }
    body {
        background-color: #f5f5f5
    }
    </style>
  
        <main class="main container my-custom">
            <div class="contact-container text-center">
                <h1>Please introduce your company in <br> this block</h1>
                <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                     </p>
                    
        </main>
      
{% endblock %}