{% extends 'base.html' %}

{% block content %}
<main class="main container mt-5">
    <form method="get" class="mb-3 row g-3 align-items-center">
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Buscar libros...">
                <button type="submit" class="btn btn-dark">Buscar</button>
            </div>
        </div>
        <div class="col-md-2">
            <select name="genero" class="form-select">
                <option value="">Todos los géneros</option>
                {% for genero in generos %}
                <option value="{{ genero.nombre }}">{{ genero.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2">
            <select name="autor" class="form-select">
                <option value="">Todos los autores</option>
                {% for autor in autores %}
                <option value="{{ autor.nombre }}">{{ autor.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2">
            <div class="form-floating">
                <input type="number" id="calificacion_min" name="calificacion_min" class="form-control" min="1" max="5" placeholder="Calificación mínima">
                <label for="calificacion_min">Calificación mínima</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-floating">
                <input type="number" id="calificacion_max" name="calificacion_max" class="form-control" min="1" max="5" placeholder="Calificación máxima">
                <label for="calificacion_max">Calificación máxima</label>
            </div>
        </div>
    </form>

    <div class="row">
        {% for libro in libros %}
        <div class="col-md-3 mb-5">
            <div class="card h-100">
                <img src="{{ libro.portada_url }}" class="card-img-top" alt="{{ libro.titulo }}" style="height: 200px; object-fit: cover;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">
                        <a href="{% url 'resenas' libro.id %}" class="text-decoration-none text-dark">{{ libro.titulo }}</a>
                    </h5>
                    <p class="card-text">Autor: <a href="{% url 'autor' libro.autor.id %}">{{ libro.autor.nombre }}</a></p>
                    {% if libro.calificacion_promedio %}
                    <p class="card-text">Calificación promedio: {{ libro.calificacion_promedio }}</p>
                {% else %}
                    <p class="card-text">Este libro no tiene reseñas</p>
                {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
